#resume{
    padding-inline: 5%;
}
table{
    padding-inline: 5%;
    background-color: #F7F7F7;
    color: black;
    padding-block: 5%;
    width: 100%;
}
img{
    width: 15%;
}
td{
   
}
#paypal-button-container{
    grid-row: 2;
    grid-column: 3/7;
    text-align: center;
    width: 50vw;
  }